doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  
  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
        a(class="navbar-brand" href="#") Blockstack Interface API RPC

    block content


    script(type="application/javascript" src='/js/jquery.min.js')
    script(type="application/javascript" src='/js/popper.min.js')
    script(type="application/javascript" src='/js/bootstrap.min.js')
    script(type="application/javascript" src='/js/functions.js')

    